<!-- base vendor bundle:
		DOC: if you remove pace.js from core please note on Internet Explorer some CSS animations may execute before a page is fully loaded, resulting 'jump' animations
				+ pace.js (recommended)
				+ jquery.js (core)
				+ jquery-ui-cust.js (core)
				+ popper.js (core)
				+ bootstrap.js (core)
				+ slimscroll.js (extension)
				+ app.navigation.js (core)
				+ ba-throttle-debounce.js (core)
				+ waves.js (extension)
				+ smartpanels.js (extension)
				+ src/../jquery-snippets.js (core) -->
<script src="/contents/js/vendors.bundle.js?_={{ .randNo }}"></script>
<script src="/contents/js/app.bundle.js?_={{ .randNo }}"></script>
<script src="/contents/js/dependency/moment/moment.js"></script>
<script src="/contents/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>