{{ define "item/bundlelist.html" }}

<!DOCTYPE html>
<html lang="ko" class="root-text-sm">
    <head>
        {{ template "html-head.tmpl" . }}

        <link rel="stylesheet" media="screen, print" href="/contents/css/datagrid/datatables/datatables.bundle.css">
    </head>

    <!-- BEGIN Body -->
    <body class="mod-bg-1 mod-nav-link mod-skin-light">

        {{ template "body-header-script.tmpl" . }}

        <!-- BEGIN Page Wrapper -->
        <div class="page-wrapper">
            <div class="page-inner">
                {{ template "body-left-aside.tmpl" . }}

                <div class="page-content-wrapper">

                    {{ template "page-header.tmpl" . }}

                    <!-- BEGIN Page Content -->
                    <!-- the #js-page-content id is needed for some plugins to initialize -->
                    <main id="js-page-content" role="userlist" class="page-content">
                        <div class="subheader">
                            <h1 class="subheader-title">
                                <i class='subheader-icon far fa-th-list'></i> <span class='fw-500'>{{.title}}</span>
                            </h1>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div id="panel-1" class="panel">
                                    <div class="panel-hdr">
                                        <h2>
                                            <span class="fw-300"><i></i></span>
                                        </h2>
                                        <div class="panel-toolbar">
                                            <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="최소화"></button>
                                            <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="전체화면"></button>
                                        </div>
                                    </div>
                                    <div class="panel-container show">
                                        <div class="panel-content">
                                            <!-- datatable start -->
                                            <table id="dt-first" class="table table-bordered table-hover table-striped w-100 text-nowrap">
                                                <thead class="thead-dark">
                                                </thead>
                                            </table>
                                            <!-- datatable end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                    <!-- this overlay is activated only when mobile menu is triggered -->
                    <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
                    <!-- END Page Content -->

                    {{ template "page-footer.tmpl" . }}
                </div>
            </div>
        </div>

        {{ template "body-footer.tmpl" . }}

        {{ template "body-footer-script.tmpl" . }}

        <script src="/contents/js/datagrid/datatables/datatables.bundle.js"></script>
        <script src="/contents/js/datagrid/datatables/datatables.export.js"></script>
        <script>
            $(document).ready(function()
            {
                'use strict';

                // initialize datatable
                $('#dt-first').dataTable(
                {
                    pageLength: 25,
                    oLanguage: {
                        sEmptyTable: "데이터가 없습니다.",
                        sInfo: "_START_ 부터 _END_ 까지, 총 _TOTAL_ 개",
                        sInfoEmpty: "검색 결과 없음",
                        sInfoFiltered: "(전체 _MAX_ 개 중)",
                        sThousands: ",",
                        sLengthMenu: "_MENU_ 개씩 보기",
                        sLoadingRecords: "Loading...",
                        sProcessing: "Processing...",
                        sSearchPlaceholder: "검색",
                        sZeroRecords: "검색된 내용이 없습니다."
                    },
                    dom:"<'row mb-3'<'col-sm-12 col-md-12 d-flex align-items-center justify-content-end'B>>" +
                        "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'l>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>" +
                        "<'row mb-3'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    ajax: {
                        url: "/api/item/bundle/list",
                        data: {
                            status: "normal|ready"
                        },
                        error: function(xhr, status, error) {
                            if (xhr.status == 401) {
                                Swal.fire("인증실패", "로그인 정보가 확인 되지 않습니다.\n다시 로그인 해주세요.", "error").then(function(result){
                                    location.href = location.href;
                                });
                            }
                            else {
                                Swal.fire("오류", `오류가 발생하였습니다.(${xhr.status} - ${xhr.statusText})`, "error");
                            }
                        }
                    },
                    columns: [
                        {
                            title: "#",
                            className: "notexport",
                            render: function(data, type, row, meta){
                                return `<a class="btn btn-sm btn-primary btn-pills" href="/item/bundle/view/${row.BundleNo}">상세</a>`;
                            },
                            orderable: false,
                        },
                        {
                            title: "No.",
                            data: "BundleNo",
                        },
                        {
                            title: "번들명",
                            data: "BundleName",
                        },
                        {
                            title: "구성상품",
                            data: "ItemList",
                            render: function(data, type, row, meta){
                                var str = [];

                                data.forEach(function(item, index) {
                                    str.push(`<span class="badge border border-info text-dark">${item.ItemName} ${item.UnitAmt}${item.UnitType} x${item.ItemCnt}</span>`);
                                });

                                return str.join('<br>');
                            },
                        },
                        {
                            title: "단가(원)",
                            data: "ItemList",
                            render: function(data, type, row, meta){
                                var price = 0;

                                data.forEach(function(item, index) {
                                    price += item.UnitPrice * item.ItemCnt;
                                });

                                return price.toLocaleString();
                            },
                        },
                        {
                            title: "상태",
                            render: function(data, type, row, meta){
                                return (row.StatusCode == 'normal') ? '<span class="badge badge-pill badge-success fs-md">활성</span>':'<span class="badge badge-pill badge-dark fs-md">대기</span>';
                            },
                        },
                    ],
                    buttons: [
                        {
                            text: '추가',
                            className: 'btn-outline-danger btn-sm mr-1',
                            action: function(e, dt, node, cofig) {
                                location.href = "/item/bundle/view/0";
                            }
                        },
                        {
                            extend: 'excelHtml5',
                            text: 'Excel',
                            titleAttr: 'Generate Excel',
                            className: 'btn-outline-success btn-sm mr-1',
                            exportOptions: {
                                columns: ':not(.notexport)',
                            }
                        },

                    ],
                    scrollX: true,
                    scrollCollapse: true,
                    fixedColumns: {
                        leftColumns: 1,
                    },
                    stateSave: true,
                });
            });

        </script>

    </body>
    <!-- END Body -->
</html>
{{ end }}