{{ define "order/purchase_user.html" }}

<!DOCTYPE html>
<html lang="ko" class="root-text-sm">
    <head>
        {{ template "html-head.tmpl" . }}

        <link rel="stylesheet" media="screen, print" href="/contents/css/datagrid/datatables/datatables.bundle.css">
    </head>

    <!-- BEGIN Body -->
    <body class="mod-bg-1 mod-nav-link mod-skin-light">

        {{ template "body-header-script.tmpl" . }}

        <!-- BEGIN Page Wrapper -->
        <div class="page-wrapper">
            <div class="page-inner">
                {{ template "body-left-aside.tmpl" . }}

                <div class="page-content-wrapper">

                    {{ template "page-header.tmpl" . }}

                    <!-- BEGIN Page Content -->
                    <!-- the #js-page-content id is needed for some plugins to initialize -->
                    <main id="js-page-content" role="userlist" class="page-content">
                        <div class="subheader">
                            <h1 class="subheader-title">
                                <i class='subheader-icon far fa-th-list'></i> <span class='fw-500'>{{.title}}</span>
                            </h1>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div id="panel-1" class="panel">
                                    <div class="panel-hdr">
                                        <h2>
                                            <span class="fw-300"><i></i></span>
                                        </h2>
                                    </div>
                                    <div class="panel-container show">
                                        <div class="panel-content">
                                            <div class="panel-tag">
                                                고객 기준의 발주서를 확인할 수 있습니다.<br>
                                                결제 승인이 완료된 <code>실제 출고</code>가 되어야 하는 주문 기준의 발주서 입니다.
                                            </div>
                                            <!-- datatable start -->
                                            <table id="dt-first" class="table table-bordered table-hover table-striped w-100 text-nowrap">
                                                <thead class="thead-dark">
                                                </thead>
                                            </table>
                                            <!-- datatable end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                    <!-- this overlay is activated only when mobile menu is triggered -->
                    <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
                    <!-- END Page Content -->

                    {{ template "page-footer.tmpl" . }}
                </div>
            </div>
        </div>

        {{ template "body-footer.tmpl" . }}

        {{ template "body-footer-script.tmpl" . }}

        <script src="/contents/js/datagrid/datatables/datatables.bundle.js"></script>
        <script src="/contents/js/datagrid/datatables/datatables.export.js"></script>
        <script>
            $(document).ready(function()
            {
                // initialize datatable
                $('#dt-first').dataTable(
                {
                    pageLength: 25,
                    oLanguage: {
                        sEmptyTable: "데이터가 없습니다.",
                        sInfo: "_START_ 부터 _END_ 까지, 총 _TOTAL_ 개",
                        sInfoEmpty: "검색 결과 없음",
                        sInfoFiltered: "(전체 _MAX_ 개 중)",
                        sThousands: ",",
                        sLengthMenu: "_MENU_ 개씩 보기",
                        sLoadingRecords: "Loading...",
                        sProcessing: "Processing...",
                        sSearchPlaceholder: "검색",
                        sZeroRecords: "검색된 내용이 없습니다."
                    },
                    dom:"<'row mb-3'<'col-sm-12 col-md-12 d-flex align-items-center justify-content-end'B>>" +
                        "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'l>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>" +
                        "<'row mb-3'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    ajax: {
                        url: "/api/order/list",
                        data: {
                            status: "ready-delivery",
                        },
                        error: function(xhr, status, error) {
                            if (xhr.status == 401) {
                                Swal.fire("인증실패", "로그인 정보가 확인 되지 않습니다.\n다시 로그인 해주세요.", "error").then(function(result){
                                    location.href = location.href;
                                });
                            }
                            else {
                                Swal.fire("오류", `오류가 발생하였습니다.(${xhr.status} - ${xhr.statusText})`, "error");
                            }
                        }
                    },
                    columns: [
                        {
                            title: "#",
                            className: "notexport",
                            data: "OrderNo",
                            render: function(data, type, row, meta){
                                return `<a class="btn btn-sm btn-primary btn-pills" href="/order/view/${row.OrderNo}">상세</a>`;
                            },
                            orderable: false,
                        },
                        {
                            className: "notexport",
                            title: "상태",
                            render: function(data, type, row, meta) {
                                var str = "";

                                if (row.StatusCode == "init") {
                                    str = `<span class="badge badge-pill badge-info fs-md">${row.StatusDesc}</span>`;
                                }
                                else if (row.StatusCode == "done") {
                                    str = `<span class="badge badge-pill badge-success fs-md">${row.StatusDesc}</span>`;
                                }
                                else if (row.StatusCode.includes("payment")) {
                                    str = `<span class="badge badge-pill badge-danger fs-md">${row.StatusDesc}</span>`;
                                }
                                else if (row.StatusCode.includes("delivery")) {
                                    str = `<span class="badge badge-pill badge-warning fs-md">${row.StatusDesc}</span>`;
                                }
                                else {
                                    str = `<span class="badge badge-pill badge-dark fs-md">${row.StatusDesc}</span>`;
                                }

                                return str;
                            }
                        },
                        {
                            title: "주문번호",
                            data: "OrderNo",
                        },
                        {
                            title: "수하인",
                            data: "RcvName"
                        },
                        {
                            title: "수하인 연락처",
                            data: "UserPhone"
                        },
                        {
                            title: "수하인 주소",
                            render: function(data, type, row, meta){
                                return `${row.MainAddress}<br> ${row.SubAddress}`;
                            },
                        },
                        {
                            title: "상품",
                            data: "ItemsString",
                            render: function(data, type) {
                                if(data) {
                                    return `<span class="badge border border-info text-dark">${data.split('|').join('</span><br><span class="badge border border-info text-dark">')}</span>`;
                                }
                                else {
                                    return "<code>구성된 상품이 없습니다</code>";
                                }
                            },
                        },
                        {
                            title: "수량",
                            render: function(data, type, row, meta){
                                return "1";
                            },
                        },
                        {
                            title: "송하인",
                            visible: false,
                            render: function(data, type, row, meta){
                                return "큐잇";
                            },
                        },
                        {
                            title: "송하인 주소",
                            visible: false,
                            render: function(data, type, row, meta){
                                return "서우리테일 주소";
                            },
                        },
                        {
                            title: "송하인 연락처",
                            visible: false,
                            render: function(data, type, row, meta){
                                return "07041666077";
                            },
                        },
                        {
                            title: "요청메시지",
                            data: "ReqMsg",
                        },
                        {
                            title: "크기",
                            data: "BoxTypeDesc",
                        },
                        {
                            title: "회차",
                            render: function(data, type, row, meta){
                                if (row.OrderType == "SUBS") {
                                    return `${row.OrderRound}회차`;
                                }
                                else {
                                    return "단건";
                                }
                            },
                        },
                    ],
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            text: 'Excel',
                            titleAttr: '엑셀 다운로드',
                            className: 'btn-outline-success btn-sm mr-1',
                            exportOptions: {
                                columns: ':not(.notexport)',
                            },
                            filename: `큐잇발주서(고객)_${moment().format("YYYYMMDDHHmmss")}`,
                            title: null,
                        },

                    ],
                    scrollX: true,
                    scrollCollapse: true,
                    fixedColumns:
                    {
                        leftColumns: 1,
                    },
                });
            });

        </script>

    </body>
    <!-- END Body -->
</html>
{{ end }}